<!DOCTYPE html>
<html>
<head>
  <title>About Me</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color:#07b1db;
    }

    .container {
      max-width: 800px;
      margin: auto;
      border: solid black double;
      border-radius: 5%;
      padding: 40px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color:black;
      font-size: 32px;
      margin-bottom: 20px;
    }

    p {
      color:black;
      font-size: 18px;
      line-height: 1.5;
    }

    .skills-list {
      list-style-type: none;
      padding: 0;
      margin-top: 30px;
    }

    .skills-list li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: #07b1db;
      padding: 10px;
      border-radius: 4px;
      font-size: 16px;
      color: #333;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3>About Me</h3>
    <p style="font-size: larger;text-align: justify;">
      Hi there! I am <b>Kishan Kumar Maharana</b> and I am a passionate MERN stack developer with expertise in building scalable web applications. I love coding and continuously expanding my skillset to stay up-to-date with the latest technologies. I'm always excited to take on new challenges and collaborate with like-minded individuals. If you're interested in working together or have any questions, feel free to reach out.
    </p>
    <p>
      My skills include:
    </p>
    <ul class="skills-list">
    <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>MongoDB</li>
      <li>React</li>
      <li>Git</li>
      <li>RESTful APIs</li>
    </ul>
    <p> <b>Contact Me</b> </p>
      <p>Email: <a href="mailto:kishanmaharana04@gmail.com">Email Me</a></p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/kishan-maharana-6341261ab">Linkedin profile</a></p>
      <p>GitHub: <a href="https://github.com/Kishan00001">GitHub Profile</a></p>
  </div>
</body>
</html>