<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/stylesheets/home.css">
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Share Easy</a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Share whatever you want and do whatever you want</div>
    <div class="sub_title">To get started Register Now 😊</div>
    <div class="btns">
      <button><a href="/login">Login</a></button>
      <button><a href="/sign">Sign</a></button>
    </div>
  </div>
</body>
</html>